exercise03/exercise03_service/src/conf/xml-resources/web-services/CalendarService/wsdl/calendarWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="calendarWSDL" targetNamespace="http://ws.imm.dtu.dk/calendar"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.imm.dtu.dk/calendar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="addAppointmentRequest">
        <part name="appointment" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="addAppointmentResponse"/>
    <message name="calendarWSDLOperationRequest">
        <part name="date" type="xsd:date"/>
    </message>
    <message name="calendarWSDLOperationResponse">
        <part name="appointment" type="xsd:string"/>
    </message>
    <portType name="calendarServicePortType">
        <operation name="addAppointment">
            <input name="input1" message="tns:addAppointmentRequest"/>
            <output name="output1" message="tns:addAppointmentResponse"/>
        </operation>
        <operation name="getAppointment">
            <input name="input2" message="tns:calendarWSDLOperationRequest"/>
            <output name="output2" message="tns:calendarWSDLOperationResponse"/>
        </operation>
    </portType>
    <binding name="calendarServicePortTypeBinding" type="tns:calendarServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addAppointment">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAppointment">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="calendarWSDLService">
        <port name="calendarServicePortTypeBindingPort" binding="tns:calendarServicePortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
